/* .panel-wrapper{
    flex-grow:2;
} */

.sectionTitle > h1{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    text-shadow: 2px 2px #1ba098;
    margin: 30px;
}

.panel-wrapper{
    overflow-x:hidden;
    overflow-y:scroll;
    min-height: 0;
    flex:1 0 30%;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
