.RichEditor-root {
    background: #ffffff34;
    border-image: linear-gradient(45deg, #1ba098, #05386B) 1;
    border-style: solid;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
    
  }
  
  .RichEditor-editor {
    border-top: 1px solid #1ba098;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
    overflow:hidden;
    scrollbar-width: thin;
    scrollbar-color: #1ba098;
    background-color: #ffffff41;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
    
  }
  
  .RichEditor-controls {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
    text-align: center;
  }
  
  .RichEditor-styleButton {
    color:aliceblue;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
    text-shadow: 1px 1px #1ba098 ;
  }
  
  .RichEditor-activeButton {
    color: #00eeff;
  }

  *{
    color:#eee
  }