*{
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    background-color: #3a9979;
    /* height: 100vh; */
    box-shadow: 3px 2px #05386B;
    overflow-x:hidden;
    overflow-y:scroll;
    flex-grow: 1;
    min-width: 40%;
    
}

.sidebar::-webkit-scrollbar{
    display: none;
}
