.dropdown-item:hover{
    background-color: #1ba098;
    color:white;
}

.sidebarTools{
    display: grid;
}

#title{
    font-family:'Poppins', sans-serif;
}
.sidebar{
    background-color: #061a29;
    border-image: linear-gradient(45deg, #1ba098, #05386B) 1;
    border-width: 0 3px 0 0;
    border-style: solid;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: 'Poppins', sans-serif;
    display:block;
  }