.register-wrapper{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-wrapper > h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px #1ba098;
}