/* .wrapper {
  padding: 20px;
} */

/* .container{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.sidebar{
  flex:1;
}

.panel-wrapper{
  flex:5;

} */