body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #44b38e;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* log-in/register wrapper */
/* log-in div */
/* register div */

/* sidebar/main-panel wrapper */
.sidebar-mainpanel-wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
  width:100%;
  justify-content: space-between;
  align-items: stretch;
  overflow:hidden
}
/* sidebar */
.sidebar{
  background-color: #3a9979;
  box-shadow: 3px 2px #05386B;
  overflow-x:hidden;
  overflow-y:scroll;
  min-height: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: 'Poppins', sans-serif;

  display: grid;
}

/* main-panel */
.panel-wrapper{
  overflow-x:hidden;
  overflow-y:scroll;
  min-height: 0;
  flex:1 0 30%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* flex-basis: 50% */
}

/* .sidebar {
  max-width: 250px;
  float:left;
} 

h1{
  color: #EDF5E1;
}


.btn{
  background-color: #F64C72;
}

.btn:hover{
  background-color: #fa7c97;
}

.dropdown-item:hover{
  background-color: #fa7c97;
}

*:focus {
  outline: none;
}

#root{
  display: flex;
  height: 100%;
}

#root > .loginreg-container{
  justify-content: center;
}

.loginreg-container{
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
}

.login-wrapper{
  flex:1;
}

.register-wrapper{
  flex:1;
} */

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
