body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #0a293fce;
  background-image: linear-gradient(0deg, rgba(15,92,93,1) 0%, rgba(10,41,63,1) 100%);
}

/* log-in/register wrapper */
#loginreg-container{
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

#loginreg-container > h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px #1ba098;
}

#appTitle{
  margin: 20px;
}

#appTitle > h1{
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px #1ba098;
  font-size: 100px;
}

.sidebar-mainpanel-wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
  width:100%;
  justify-content: space-between;
  align-items: stretch;
  overflow:hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
